.homePage {
    width: 90%;
    margin: auto;
}

.profileSection{
    min-height: 20vh;
    background: var(--heading-color-lin-grad);
}
.profileContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: -5rem auto 0 auto;
}
.profileContant{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.name{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 4rem;
    color: var(--black-and-white-color);
}
.profileDetials{
    margin-left: 2rem;
}
.profileDetials > p{
    color: var(--para-color);
    font-size: 1.6rem;
    margin-left: .7rem;
    margin-top: 1.2rem;
    letter-spacing: .4px;
}
.profileImage{
    width: 16rem;
}
.profileImage img{
    width: 100%;
    border-radius: 100%;
    border: .5rem solid #fff;
}
.profileRightSide{
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
}
.verifiedBadge{
    font-size: 1.8rem;
    color: #3594ff;
}
.btn{
    padding: 1.3rem 2.6rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    background: none;
    border-radius: .5rem;
    cursor: pointer;
    border: 0;
    transition: .4s all;
}
.ResumeDownload{
    background-color: var(--secondary-color-100);
    /* background-color: #000; */
    /* color: #fff; */
    color: #000;
}
.linkedInButton {
    border: .1rem solid var(--text-color);
    color: var(--text-color);
}

/* ================================ */
.homePageAbout{
    /* width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0px; */

    /* ==grid== */
    /* width: 95%; */
    margin: 1rem auto;
    display: grid;
    gap: 5rem;
    margin: 3rem auto;
    /* display: flex; */
    /* justify-content: space-around; */
    /* padding: 3rem 0px; */
    grid-template-columns: repeat(2, 1fr);
}
.homePageAbout .experience{
    /* width: 60%; */
    box-shadow: 0rem 0rem 5rem 0rem rgb(0 0 0 / 41%);
    padding: 3rem 2rem;
    border-radius: 1rem;
    /* background-color: #fff; */
}
.experience h2{
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--black-and-white-color);
    /* padding: 1rem 0rem; */
}
.experience p{
    font-size: 1.6rem;
    color: var(--para-color);
    padding: 1rem 0;
    /* text-transform: capitalize; */
    line-height: 2.5rem;
}
.experience hr{
    margin: 2rem 0rem;
    color: #666;
}
.experience h3{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    color: var(--black-and-white-color);
}
.experience .para{
    line-height: 3rem;
    color: var(--para-color);
    word-spacing: .4rem;
}
.readmore{
    border: .1rem solid var(--secondary-color-500);
    font-size: 1.7rem;
    color: var(--black-and-white-color);
}
.readmore:hover{
    background-color: var(--secondary-color-100);
    color: var(--black-and-white-color);
}
/* ========== */
.homePageAbout .skillsSection{
    /* width: 30%; */
    box-shadow: 0px 0px .5rem 0px rgb(0 0 0 / 41%);
    padding: 3rem 2rem;
    border-radius: 1rem;
    /* background-color: #fff; */
}
.homePageAbout .skills{
    margin: 0;
    padding: 0 1.5rem;
}
.skillsSection > div{
    padding: 1.5rem;
    margin-top: 1rem;
}
.skillsSection h4{
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: .2rem;
    margin-bottom: 1.3rem;
    color: var(--black-and-white-color);
}
.skillsSection .skills-design{
    /* margin-left: 23px; */
    /* background: red; */
    display: inline-flex;
    padding: .6rem 1.8rem;
    border: .2rem solid var(--secondary-color-500);
    border-radius: 1.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: .9rem;
    margin-top: 1.5rem;
    color: var(--black-and-white-color);
}
.skillsSection .skills-design:hover{
    background-color: var(--secondary-color-100);
    color: black;
}
.skillsSection h5{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--black-and-white-color);
}
.skillsSection span{
    font-size: 1.7rem;
    margin-left: 1rem;
    color: var(--para-color);
}

/* ==================== Technologies =========================== */
.technologies{
    /* background-color: rgb(236, 236, 236); */
    margin: 10rem 0 3rem 0;
}
.technologies > h1{
    font-size: 4rem;
    letter-spacing: .3rem;
    font-weight: 300;
    color: var(--black-and-white-color);
}
.technologies > p{
    padding: 2rem 0px;
    font-size: 1.8rem;
    line-height: 3.4rem;
    letter-spacing: 1px;
    color: var(--para-color);
    /* width: 57%; */
}
.flex {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-color-800);
    padding: 5rem 0rem;
    flex-wrap: wrap;
    gap: 5rem;
}
.item{
    color: #fff;
}
/* .item.backend{
    margin: 5rem 0rem;
} */
.item > .tech-icon{
    font-size: 4.3rem;
    color: #fff;
}
.item > h3{
    font-size: 3rem;
    margin: 1rem 0px;
    letter-spacing: 1px;
    font-weight: 400;
}
.item .description{
    font-size: 1.6rem;
    display: inline-block;
    /* width: 163px; */
    line-height: 2.7rem;
    /* background: pink; */
}

@media (max-width:960px) {
    .homePageAbout{
        grid-template-columns: 1fr;
    }
}