a{
    color: unset;
    text-decoration: none;
}
.sidebarWrapper{
    padding: 2rem;
    color: #555;
}
.sidebarMenu{
    margin-bottom: 1rem;
}
.sidebarTitle{
    font-size: 2.3rem;
    color: rgb(187, 186, 186);
}

.sidebarList{
    list-style: none;
    padding: .5rem;
}
.sidebarListItem{
    padding: 1.5rem .5rem;
    margin-top: 1rem;
    cursor: pointer;
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    border-radius: 1rem;
    color: #fff;
}
.sidebar-icons{
    margin-right: 1.2rem;
    font-size: 2.4rem;
}
.active > *{
    background-color: rgb(240, 240, 255);
    color: #000;
}
.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(240, 240, 255);
    color: #000;
}