footer{
    min-height: 6.5rem;
    background: #fff;
    margin: 5rem 0 3rem;
    box-shadow: 0 .5rem 2rem rgb(0 0 0 / 5%);
    border-radius: 5px;
    width: 100%;
}
footer p{
    margin: 0;
    line-height: normal;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    color: #214162;
    padding: 2.5rem 1.5rem;
}