/**
*  clr-bg
*  clr-text
*  
*/
:root{
  --black-bg: rgb(14,20,27);
  --white: #fff;
  --black: #000;
  --color-background: hsl(210deg, 30%, 8%);
  --primary-color-800: #15283c;
  --secondary-color-500: #39e241;
  --secondary-color-100: #7bff80;
  --dark-theam-content: #373737;
  --text-color: #666;
  --light-mode: #f8f8f8;
  --dark-mode:  #0f1624;
  --heading-color-lin-grad: linear-gradient(238deg, #3774b5, rgb(21 50 80));
}
.dark-mode{
    --heading-color: #fff;
    --text-color: #fff;
    --bg-color: #0f1624;
}
.light-mode {
    --heading-color: #000;
    --text-color: #000;
    --bg-color: #f8f8f8;
}
body{
    font-family: 'Rubik', sans-serif;
}
/* background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%); */
.container{
    display: flex;
}
.d-none{
    display: none;
}

.contant{
    flex: 5;
    background-color: var(--bg-color);
}
::selection{
    background-color: var(--secondary-color-100);
}
/*===============mobile navbar design============== */
@media (max-width:516px) {
    .sidebar{
        display: none;
    }
}
@media (min-width:517px) {
    .mobileNav{
        display: none;
    }
}
@media (max-width:960px) {
    html{
        font-size: 58%;
    }
}

@media (max-width:400px) {
    html{
        font-size: 50%;
    }
}