.aboutMe{
    width: 90%;
    margin: auto;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 7rem;
    padding: 3rem 0rem;
}
.contantAboutMe{
    width: 50%;
}
.knowMeMore{
    font-size: 4.3rem;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--black-and-white-color);
}
.contantAboutMe hr{
    margin-top: 2rem;
    width: 65%;
}
.aboutMeHeading{
    font-size: 2.5rem;
    margin: 3rem 0rem;
    letter-spacing: .1rem;
    font-weight: 500;
    color: var(--black-and-white-color);
}
.aboutMePara{
    font-size: 1.6rem;
    line-height: 3.4rem;
    margin-bottom: 1.4rem;
    text-align: justify;
    color: var(--para-color);
}
.imageContainer{
    width: 30%;
    height: 45vh;
    box-shadow: .8rem .8rem 0rem 0rem var(--secondary-color-100);
    object-fit: fill;
    /* margin: 3rem 0rem; */
    border: .2rem solid var(--white);
}
.imageContainer img{
    width: 100%;
    height: 100%;
}
/* =======sfg=============== */
.aboutMeSection{
    width: 100%;
    background-color: var(--primary-color-800);
    padding: 5rem 12rem;
    color: #fff;
}
.aboutMeSection h2{
    margin-bottom: 4rem;
    font-size: 2.7rem;
    font-weight: 300;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-container h3{
    letter-spacing: .1rem;
    font-weight: 300;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}
@media (max-width: 960px) {
    .main{
        flex-direction: column;
        align-items: center;
    }
    .imageContainer{
        width: 100%;
    }
    .contantAboutMe{
        width: 100%;
    }
}